

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    font-weight: 400;
}

body{
    background-color: black;
}

.main{
    background-image: url(assests/IN-en-20250303-TRIFECTA-perspective_d5f81427-d6cf-412d-8e86-2315671b9be1_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 80vh;
    position: relative;
}

.main .box{
    height: 80vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.69;
    position: absolute;
    top: 0px;
    color: white;
}

nav{
    display: flex;
    max-width: 70vw;
    margin: auto;
    height: 100px;

    justify-content: space-between;
    align-items: center;
}

nav img{
    color:rgb(253, 14, 14);
    height: 154px;
    position: relative;
    z-index: 10;
    width: 130px;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'poppins', sans-serif;
    gap: 24px;
    padding: 0 26px;



}

.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.hero> :first-child{
    font-size: 43px;
    font-family: 'poppins';
    font-weight: bolder;
    text-align: center;

}

.hero> :nth-child(2){
    font-size: 23px;

    font-weight: 900;
    text-align: center;


}



.hero> :nth-child(3){
    font-size: 18px;

    font-weight: 500;
    text-align: center;
 

}

.hero> :nth-child(4){
    font-size: 16px;

    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;

}

.seperation{
    height: 6px;
    background-color: rgb(56, 52, 52);
}

.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(23, 23, 23, 0.014);
    padding: 2px 7px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 2px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 11px 26px;
    font-size: 19px;
    border-radius: 4px;
    border: 1px solid rgb(193, 17, 25);
    font-weight: bold;
}

.main input{
    background-color: rgba(23,23,23,0.7);
    padding:0px 113px 33px 9px;
    font-size: 12px;
    border: 1px solid rgba(199, 184, 184, 0.3);
    border-radius: 4px;
    color: aliceblue;
}




.btn-red-sm{
    background-color: red;
    color: white;
}

.first{
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: auto;


}



.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;

}

.secimg{
    position: relative;
}

.secimg video{ 
    position: absolute;

    width: 555px;

}

section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0px;
}

.first > div :nth-child(1){
    font-size: 45px;
    font-family: 'poppins';
    font-weight: 900;
}

.first > div :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}



.faq{
    color: white;
    background-color: black;
    padding: 34px;
}

.faq h2{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}

.faqbox svg{
    filter: invert(1);
}

.faqbox {
    display: flex;
    background-color: #2d2d2d;
    padding: 27px 29px;
    color: aliceblue;
    max-width: 60vw;
    font-size: 26px;
    font-weight: 400;
    margin: 13px auto;
    justify-content: space-between;
    cursor: pointer;
}

.faqbox:hover{
    background-color: rgb(65 65 65);
}
@media screen and (max-width: 1300px){

    .first{
        flex-wrap: wrap;
    }
    
    .secimg img{
        width: 305px;
    
    
    }
    
    .secimg video{ 
    
        width: 305px;
    
    }

    .hero> :first-child{
        font-size: 32px;
        font-family: 'poppins';
        font-weight: bolder;
        text-align: center;
    
    }

    .hero> :nth-child(2){
        font-size: 18px;
        font-family: 'poppins';
        font-weight: bolder;
        text-align: center;
    
    }

    .hero> :nth-child(3){
        font-size: 18px;
        font-family: 'poppins';
        font-weight: bolder;
        text-align: center;
    
    }

    nav{
        max-width: 84vw;
    }

    .hero-buttons{
        flex-direction: column;
    }

    .faq h2{
        font-size: 2rem;
        font-weight: 700;
    }

    }

    .container {
        color: rgb(105, 101, 101);
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 63vw;
        margin: 57px auto;
        font-size: 19px;
    }

    .boxes ul li{
        list-style: none;
    }

    ul li a:visited{
        color: #5c5555;
    }